body {
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.endmessage {
    font-size: 30px;
    font-weight: bold;
}

#selection {
    max-width: 25%;
    max-height: 100%;
    margin-top: 50px;
    margin-left: 10%;
    display: inline-block;
}

#computer {
    max-width: 25%;
    max-height: 100%;
    margin-top: 50px;
    margin-right: 10%;
    float: right;
}

img {
    width: 50%;
    margin: 30px;
    text-align: center;
}

.fade {
    opacity: 0.25;
}