body {
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.endmessage {
    font-size: 40px;
    font-weight: bold;
}

#selection {
    width: 20%;
    height: 60%;
    margin-top: 7%;
    margin-left: 7%;
    display: inline-block;
}

#computer {
    width: 20%;
    margin-top: 7%;
    margin-right: 7%;
    float: right;
}

img {
    width: 50%;
    margin: 7%;
    text-align: center;
}

#computer img {
    float: right;
}

.fade {
    opacity: 0.25;
}

@media only screen and (max-width: 620px) {

    p {
        font-size: 20px;
    }

    .endmessage {
        font-size: 30px;
    }

}